.flex-1 {
  flex: 1;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #212afbff;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: table;
  margin-top: 10px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
